<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<div class="container text-center">
            <img src="/images/3.png" alt="error"  width=40% >
            </div>
   
    
   
    <!--page component starts here-->
    
   <div class="errorpage">
   
   		  <h1>Error 400 - Invalid Request</h1>
		  <a th:ref="@{/error}"></a>
		
		  <p>The information you have submitted can't be processed by our server.
		    Please make sure the URL or data you have submitted is valid.</p>


		  <a th:href = "@{/}">Go to Main Page</a>
   </div>
  
	
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>