@charset "UTF-8";

 /* styling for desktop */


/* index page */
 header img {
     margin-right: 0.5em;
 }
.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;	
}

.navbar-links li{
	list-style: none;
}
 
nav .my-2 a{
    color:#27B4A8;
    text-decoration: none;
    font-weight: 600;
    padding: 1rem;
}
nav .my-2 a:hover {
    color: #ffffff;
    background-color: #27B4A8;
    text-decoration: none;
}
.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;	
}

.navbar-links li{
	list-style: none;
}
 
nav .my-2 a{
    color:#27B4A8;
    text-decoration: none;
    font-weight: 600;
    padding: 1rem;
}
nav .my-2 a:hover {
    color: #ffffff;
    background-color: #27B4A8;
    text-decoration: none;
}

.toggle-button{
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	font-size: 1.2rem;
	color:  #27B4A8;
}

.bar{
	height: 3px;
	width: 100%;
	background-color: #0e857b;
	border-radius: 10px;
	
}
.btn-primary{
    color: #0e857b;
    background-color: #ffd000;
    border-color: #ffd000;
    font-weight: 600;
}

.btn-primary:hover{
    color: #fff;
    background-color: #0e857b;
    border-color: #0e857b;
}

.btn-secondary{
    color: #fff;
    font-size: small;
    background-color: #27B4A8;
    border-color: #27B4A8;
    font-weight: 600;
}

.btn-secondary:hover{
    background-color: #0e857b;
    border-color: #0e857b;
}

.btn-outline-secondary{
    font-weight: 600;
    font-size: small;
}

 .carousel-item {
    height: 30rem;
    background-color: #27B4A8;
    color: #fff;
}

.carousel .container{
    padding-right: 18%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

.container h1{
    font-size: 4rem;
}

.container p{
    font-weight: 600;
    font-size: 1.5rem;
}

.overlay-image {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.5;
    
}

.login .container {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50%;
    background-color: rgb(221, 221, 221);
    padding: 2%;
}

.login h2{
    color:#27B4A8;
    font-weight: 600;
}

.login p{
    color:#27B4A8;
    font-weight: 600;
    font-size: 1rem;
}


 .form-label-group .form-control {
	margin-bottom:2%;
	width: 100%;
}

 .form-group .form-control {
	margin-bottom:2%;
	width: 100%;
}

.login .btn-secondary{ 
    font-size: 1.2rem;
}

.login .checkbox {
    text-align: left;
}


.registration{
	padding-top: 3%;
	padding-bottom: 10%;
	background-color:#27B4A8;
	color:#fff;
}
/*about us*/

.about .container {
    margin-top: 2%;
    margin-bottom: 3%;
    width: 60%;
    padding: 2%;
}


.about p{
    color:#27B4A8;
    font-weight: 600;
    font-size: 1rem;
}

/*contact */

.contact {
    width: 40%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
    background-color: rgb(238, 238, 238);
    text-align: center;
}

.control-label{
	text-align: left;
}

.contact form{
	width: 80%;
	margin:auto;
}

.contact h1{
    color: #27B4A8;
}

.contact p{
    font-size: 1rem;
}

/*errors*/
.errorpage{
margin: 3% auto 10%;
text-align: center;
}

/* tables*/
.form-control {
	margin-bottom:2%;
	width: 40%;
}
.table-header th a {
	color: 27B4A8;
	text-decoration: none;
}

.cont-table {
	margin-top: 3%;
	margin-bottom: 5%;
}

/* new registration */
.new-registration{
background-color: rgb(238, 238, 238);
padding: 3%;
}

/* update registration*/
.results p{
	font-size: 1rem;
	line-height: 1.2;
}

.results h3{
	color: #27B4A8;
	font-size: 1.5rem;
	line-height: 1.2;
}

/*s-------------------style for mobile devices--------------------*/
@media screen and (max-width: 600px) {

.toggle-button {
	display: flex;
	color: #000;
}

.navbar-links{
	display: none;
	width: 100%;
	
	text-align: center;
}

.navbar {
	flex-direction: column;
	align-items: flex-start;
}

.navbar-links ul {
	flex-direction:column;
	width: 100%;	
	
	text-align: center;
	
}

.navbat-links li{
	text-align: center;
}

.p-2 a {
	padding: .5rem 1rem;
	text-align: center;
	margin:1em;
}

.navbar-links.active {
	display: flex;
}
  
  .login .container {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
}

.registration{
	padding-top: 5%;
	padding-bottom: 20%;
}

 
  .about .container {
    margin-top: 3%;
    margin-bottom: 15%;
    width: 90%;
    padding: 2%;
}


.about img{
	width: 60%;
}
.cont-table{
	padding-bottom: 15%;
}


.contact {
    width: 90%;
}

.form-control {
	width: 90%;
}

.overlay-image .container h1 {
	font-size: 1.5rem;
}
}