<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
   
    
   
    <!--page component starts here-->
    
        <div class="about">
        <div class="container text-center">
           <img th:src="@{/images/2.png}" alt="about" width="150px">
		    <p class="mt-3">We are students in the CEJV 559 course</p>
		    <p>at Concordia University.</p> 
		    <p>This is our final class project.</p>
		    <a class="btn btn-secondary mb-4" th:href="@{/}" role="button">Awesome!</a>
		 
    
    <div class="row justify-content-md-center">
    
	  <div>
	  		 <div class="col">
			  <img th:src="@{/images/elliott.jpg}" alt="Elliott" width="100px">
			    <h5 class="card-title">Elliott</h5>
			 </div>
	  </div>
	  
	  <div>
	  		 <div class="col">
			  <img th:src="@{/images/marchiano.jpg}" alt="Marchiano" width="100px">
			    <h5 class="card-title">Marchiano</h5>
			</div>
	  </div>
	  
	  
	  <div>
	 	 <div class="col">
			  <img th:src="@{/images/tetiana.jpg}" alt="Tetiana" width="100px">
			    <h5 class="card-title">Tetiana</h5>
		</div>
	  </div>
	  
	  
	  <div>
	  		<div class="col">
			  <img th:src="@{/images/xingming.jpg}" alt="Xingming" width="100px">
			  <h5 class="card-title">Xingming</h5>
			 </div>
	  </div>
	  
	  
	</div>
    </div>
		 
    </div>
 
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
</body>
</html>