<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
<th:block th:replace="layout/partials/head"></th:block>
</head>


<body>

	<!--loading nav and header-->
	<nav>
		<th:block th:replace="layout/partials/nav">
	</nav>



	<!--page component starts here-->


	<!-- Internationalization -->
	<span th:text="#{language.change}"></span>:
	<select id="locales">
		<option value=""></option>
		<option value="en" th:text="#{lang.eng}"></option>
		<option value="fr" th:text="#{lang.fr}"></option>
	</select>


	<!--!!!!!!!!!!!!!!carousel-->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<!--1st carousel-->
			<div class="carousel-item active">
				<div class="overlay-image"
					th:style="'background: url(/images/carousel1.jpg) no-repeat center center fixed;'"></div>
				<div class="container">
					<h1 th:text="#{welcome.message}"></h1>
					<p th:text="#{welcome2.message}"></p>
					<a th:href="@{about}" class="btn btn-lg btn-primary"
						th:text="#{aboutus.message}"> </a>
				</div>
			</div>

			<!--2nd carousel-->
			<div class="carousel-item">
				<div class="overlay-image"
					th:style="'background: url(/images/carousel2.jpg) no-repeat center center fixed;'"></div>
				<div class="container">
					<h1 th:text="#{add.message}"></h1>
					<p th:text="#{add2.message}"></p>
					<a th:href="@{/showNewRegistrationForm}"
						class="btn btn-lg btn-primary" th:text="#{registration.message}"></a>
				</div>
			</div>

			<!--3rd carousel-->
			<div class="carousel-item">
				<div class="overlay-image"
					th:style="'background: url(/images/carousel3.jpg) no-repeat center center fixed;'"></div>
				<div class="container">
					<h1 th:text="#{send.message}"></h1>
					<p th:text="#{send2.message}"></p>
					<a th:href="@{contact}" class="btn btn-lg btn-primary"
						th:text="#{send3.message}"> </a>
				</div>
			</div>
		</div>

		<a href="#myCarousel" class="carousel-control-prev" role="button"
			data-slide="prev"> <span class="sr-only">Previous</span> <span
			class="carousel-control-prev-icon" irea-hidden="true"></span>
		</a> <a href="#myCarousel" class="carousel-control-next" role="button"
			data-slide="next"> <span class="sr-only">Next</span> <span
			class="carousel-control-next-icon" irea-hidden="true"></span>
		</a>
	</div>


	<!--sign in form-->


	<div class="login" id="login">
		<div class="container form text-center login">
			<form th:action="@{/}" method="post">
				<div class="text-center mb-4">
					<fieldset>
						<legend class="mb-3 font-weight-normal" th:text="#{form.message}"></legend>
						<div th:if="${param.error}" class="alert alert-error">
							Invalid username and password.</div>
						<div th:if="${param.logout}" class="alert alert-success">
							You have been logged out.</div>
						<div th:if="${param.login}" class="alert alert-success">You
							are logged in.</div>
						<div class="form-label-group">
							<label for="username">Email</label> <input input type="email"
								id="username" name="username" class="form-control"
								placeholder="Email address" required autofocus />
						</div>

						<div class="form-label-group">
							<label for="password" th:text="#{form3.message}"></label> <input
								type="password" id="password" name="password"
								class="form-control" placeholder="Password" required />
						</div>

						<div class="form-actions">
							<button type="submit" th:text="#{login.message}"
								class="btn btn-lg btn-secondary btn-block mb-3"></button>
						</div>
					</fieldset>

				</div>
				<p th:text="#{form4.message}"></p>
				<a th:href="@{/signup}" th:text="#{form5.message}"></a>

			</form>

		</div>
	</div>

	<div class=registration>
		<div class="container form text-center">
			<h2 class="mb-3 font-weight-normal" th:text="#{course.message}"></h2>
			<a class="btn btn-primary" th:href="@{/showNewRegistrationForm}"
				role="button" th:text="#{registration.message}"></a>
		</div>
	</div>
	<!--loading footer element-->
	<th:block th:replace="layout/partials/footer" />

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>

<script type="text/javascript">
	function loginNow() {

		let a = document.getElementById("logout");
		if (a == true)
			document.getElementById("login").style.display = "block";
		else
			document.getElementById("login").style.display = "none";
	}

	$(document).ready(function() {
		$("#locales").change(function() {
			var selectedOption = $('#locales').val();
			if (selectedOption != '') {
				window.location.replace('?lang=' + selectedOption);
			}
		});
	});
</script>

