<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
   
    
   
    <!--page component starts here-->

	<div class="container cont-table">
	
	<form th:action="@{/logout}" method="post">
			<p>You are logged in.</p>
			<input class="btn btn-lg btn-secondary btn mb-3" type="submit" value="Logout" />
		</form>

		<h1>Registration Management System</h1>
		<hr>
		<h2>Save New Registration</h2>

		<form action="#" th:action="@{/saveRegistration}" th:object="${registration}" method="POST" class="new-registration">

			<input type="text" th:field="*{registrationCode}" placeholder="Registration Code"
				class="form-control mb-4 col-4" required>
			
			<div class="container">
			  <div class="row">
			    <div class="col-sm mb-3">
			    
			    
			    
			     <label>Select a Student:</label>
					<div class="col-lg-3" th:object="${student}">	
						<select th:field="*{studentId}">
						  <option 
						      th:each="student: ${students}"
						      th:value="${student.studentId}"
						      th:text="${student.studentCode} +' : '+${student.firstName} +' : '+${student.lastName}" ></option>
						</select>
					</div>
					
					
					
					
			    </div>
			    <div class="col-sm">
			      <label>Select a Course:</label>
					<div class="col-lg-3" th:object="${course}">	
						<select th:field="*{courseId}">
						  <option 
						      th:each="course: ${courses}"
						      th:value="${course.courseId}"
						      th:text="${course.courseCode} +' : '+${course.description}" ></option>
						</select>
					</div>
			    </div>
			    <div class="col-sm">
			      <label>Select a Term:</label>
					<div class="col-lg-3" th:object="${term}">	
						<select th:field="*{termId}">
						  <option 
						      th:each="term: ${terms}"
						      th:value="${term.termId}"
						      th:text="${term.termCode} +' : '+${term.description}" ></option>
						</select>
					</div>
			    </div>
			  </div>
			</div>
			
			
			
			<button type="submit" class="btn btn-secondary col-2">Save Registration</button>
		</form>

		<hr>

		<a th:href="@{/registrations}">List of Registrations</a>
	</div>
    
    
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>
