<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
   
    
   
    <!--page component starts here-->
	<div class="container cont-table">

		<h1>Student Image Management System</h1>
		<hr>
		<h2>Save New Student Image</h2>

		<form action="#" th:action="@{/saveStudentImage}" th:object="${studentImage}"
			method="POST" enctype="multipart/form-data">

				<input type="text" th:field="*{studentImageCode}"
				placeholder="Student Image Code" class="form-control" required>

				<label>Upload Student Image:</label>
				<input type="file" name="imageFile" accept=".jpg, .jpeg, .png" class="form-control mb-4 col-4" required>
				

				<button type="submit" class="btn btn-secondary">Save Student Image</button>
		</form>

		<hr>

		<a th:href = "@{/student_images}">Back to Student Image List</a>
	</div>
   
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>
