<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="layout/partials/head"></th:block>
</head>
<body>
	<div class="container text-center">
		<h3>You have signed up successfully!</h3>
		<h4>
			<a th:href="@{/}">Click here to Login</a>
			<!-- go back to homepage and log in -->
		</h4>
	</div>
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>
 