<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
   
    
   
    <!--page component starts here-->


       <div class="container cont-table">


                <h1>Teachers</h1>

              
	
		<table  class = "table table-hover thead-dark">
			<thead class="table-header">
				<tr>
					<th>
						<a th:href="@{'/pageTeacher/' + ${currentPage} + '?sortField=teacherCode&sortDir=' + ${reverseSortDir}}">
							Code</a>
					</th>
					<th>
					<a th:href="@{'/pageTeacher/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
							First Name</a>
					</th>
					<th>
					<a th:href="@{'/pageTeacher/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
							Last Name</a>
					</th>
					<th>
					<a th:href="@{'/pageTeacher/' + ${currentPage} + '?sortField=teacherEmail&sortDir=' + ${reverseSortDir}}">
							Email</a>
					</th>
					<th>
					<a th:href="@{'/pageTeacher/' + ${currentPage} + '?sortField=disabled&sortDir=' + ${reverseSortDir}}">
							Disabled</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="teacher : ${listTeacher}">
					<td th:text="${teacher.teacherCode}"></td>
					<td th:text="${teacher.firstName}"></td>
					<td th:text="${teacher.lastName}"></td>
					<td th:text="${teacher.teacherEmail}"></td>
					<td> <strong class="badge" th:text="${teacher.disabled}" th:classappend="${teacher.disabled ? 'badge-danger' : 'badge-success'}"></strong> </td>
					<td> <a th:href="@{/showUpdateTeacherForm/{teacherId}(teacherId=${teacher.teacherId})}" class="btn btn-secondary">Update</a></td>
					
				</tr>
			</tbody>
		</table>

		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/pageTeacher/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/pageTeacher/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
				<div class = "col-sm-8">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/pageTeacher/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
				</div>
				
			</div>
		</div>

        <a th:href = "@{/showNewTeacherForm}" class="btn btn-primary btn-sm mb-3"> Add Teacher </a>

    </div>
    
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>
 
