<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
   
    
   
    <!--page component starts here-->
    
	<div class="container cont-table results">
	
	<form th:action="@{/logout}" method="post">
			<p>You are logged in.</p>
			<input class="btn btn-lg btn-secondary btn mb-3" type="submit" value="Logout" />
		</form>

		<h1>Registration Management System</h1>
		<hr>
		<h2>Update Registration</h2>

		<form action="#" th:action="@{/saveRegistration}" th:object="${registration}"
			method="POST">

				<!-- Add hidden form field to handle update -->
				<input type="hidden" th:field="*{registrationId}" />

				<input type="text" th:field="*{registrationCode}" placeholder="Registration Code" class="form-control" required>
				
				<div class="container">
			  <div class="row">
			  
			  
			    <div class="col-sm mb-3">
			    
			    <h3>Assigned Student:</h3>
			    <p th:text="'Code: ' + ${student.studentCode}"></p>
			    <p th:text="'Name: '+ ${student.firstName} + ' ' + ${student.lastName}"></p>
			    
			     <label>Change the student to:</label>
					<div class="col-lg-3" th:object="${student}">	
						<select th:field="*{studentId}">
						  <option 
						      th:each="student: ${students}"
						      th:value="${student.studentId}"
						      th:text="'Code: ' + ${student.studentCode} +' Name: '+${student.firstName} +' '+${student.lastName}" ></option>
						</select>
					</div>							
			    </div>
			    
			    
			    
			    <div class="col-sm">
			    
			    <h3>Assigned Course:</h3>
			    <p th:text="'Code: ' + ${course.courseCode}"></p>
			    <p th:text="'Description: '+${course.description}"></p>
			    
			      <label>Change the course to:</label>
					<div class="col-lg-3" th:object="${course}">	
						<select th:field="*{courseId}">
						  <option 
						      th:each="course: ${courses}"
						      th:value="${course.courseId}"
						      th:text="'Code: ' + ${course.courseCode} +' Description: '+${course.description} + ' Cost: '+${course.courseCost}" ></option>
						</select>
					</div>
			    </div>
			    
			    <div class="col-sm">
			    
			    <h3>Assigned Term:</h3>
			    <p th:text="'Code: ' + ${term.termCode}"></p>
			    <p th:text="'Description: '+${term.description}"></p>
			    
			      <label>Change the term to:</label>
					<div class="col-lg-3" th:object="${term}">	
						<select th:field="*{termId}">
						  <option 
						      th:each="term: ${terms}"
						      th:value="${term.termId}"
						      th:text="${term.termCode} +' : '+${term.description}" ></option>
						</select>
					</div>
			    </div>
			    
			  </div>
			</div>
				
				

				<button type="submit" class="btn btn-primary col-2">Update Registration</button>
		</form>

		<hr>

		<a th:href="@{/registrations}">Back to Registration List</a>
	</div>
    
    
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>
