<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
	<head >
			<meta charset="UTF-8">
		    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
		    <meta name="description" content="Student/teacher web portal">
		    <meta name="author" content="Group 2: Xingming, Tetiana, Elliott, Marchiano">
		    <title>Student/Teacher portal</title>
		    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		    <!-- Bootstrap Core CSS	 -->
    		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		    <!-- Custom CSS -->
   			<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   			<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
   			<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		    <link rel="preconnect" href="https://fonts.gstatic.com">
		    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap" rel="stylesheet">
		    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	</head>

</html>
